#theid {
    background: yellow;
    border: solid 1px black;
    height: 400px;
    width: 500px;
}

#theid {
    background: pink;
    border: solid 1px black;
    height: 400px;
    width: 500px;
}